In [1]:
import pandas as pd

# Load data

In [2]:
data = pd.read_csv('../data/train_data_stg7_norm.csv')
data_test = pd.read_csv('../data/test_data_stg7_norm.csv')
data_val = pd.read_csv('../data/val_data_stg7_norm.csv')

In [3]:
data.head()

,time,intensities,cond_vector
0,2024-11-21 10:14:13.954589367,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...","[-0.3478, -0.4151, -0.8214, -1.6029, -2.0, -1...."
1,2024-11-21 10:14:14.964668751,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...","[-0.3478, -0.4151, -0.8214, -1.6029, -2.0, -1...."
2,2024-11-21 10:14:16.018996716,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...","[-0.3478, -0.4151, -0.8214, -1.6029, -2.0, -1...."
3,2024-11-21 10:14:17.021016121,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...","[-0.3478, -0.4151, -0.8214, -1.6029, -2.0, -1...."
4,2024-11-21 10:14:18.027237415,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...","[-0.3478, -0.4151, -0.8214, -1.6029, -2.0, -1...."

# Add empty cond_vector

In [4]:
data['cond_vector'] = [[] for _ in range(len(data))]
data_test['cond_vector'] = [[] for _ in range(len(data_test))]
data_val['cond_vector'] = [[] for _ in range(len(data_val))]

In [5]:
data.head()

,time,intensities,cond_vector
0,2024-11-21 10:14:13.954589367,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...",[]
1,2024-11-21 10:14:14.964668751,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...",[]
2,2024-11-21 10:14:16.018996716,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...",[]
3,2024-11-21 10:14:17.021016121,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...",[]
4,2024-11-21 10:14:18.027237415,"-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-...",[]

# Save data

In [6]:
data.to_csv('../data/train_baseline_stg7_norm.csv', index=False)
data_test.to_csv('../data/test_baseline_stg7_norm.csv', index=False)
data_val.to_csv('../data/val_baseline_stg7_norm.csv', index=False)